<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ataaneutollboothfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/49c15666-0516-493f-a1bf-5d72242daa91/resourceGroups/ATA_Aneu_serverlessArchitecture/providers/Microsoft.Web/sites/ataaneutollboothfunctionapp</ResourceId>
    <UserName>$ataaneutollboothfunctionapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ataaneutollboothfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>